.section{
    width: 100%; height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}
.main_visual{
    background-image: url(../images/grim/grim_banner.png);
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_wrap {
    width: 555px;
    height: 555px;
    position: relative;
    background-image: url(../images/sori/hero_door3.png);
    background-image: url(../images/grim/main_circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 426px;
  }
  .outer_line{
    width: 195px;
    height: 427px;
    border: 2px solid #AD9F95;
    background: rgba(255, 255, 255, 0.80);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    /* 변경구간 */
    border: none;
    background: transparent;
  }
  .inner_line{
    width: 100%;
    height: 100%;
    border: 1px solid #AD9F95;
    font-family: "Solmoe KimDaeGeon";
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 1.5rem;
    /* 변경구간 */
    border: none;
    background: transparent;    
  }
  .inner_line em{
    font-size: 25px;
    font-style: normal;
  }
.tiger{
    position: absolute;
    left: 40px;
    bottom: 0;
    mix-blend-mode:luminosity;
}
.circle{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}
.contents1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    /* background-color: black; */
    background-image: url(../images/grim/grim_pocpo.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 77px center;
}
.contents1 p{
    font-size: 22px;
    text-align: left;
    line-height: 300%;
    transform: translateX(80px);
}
.contents2{
    background-image: url(../images/grim/grim_love.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.contents2 .text1,
.contents2 .text2{
    width: 555px;
    height: 250px;
    transform: translateX(250px);
}
.contents2 h2{
    font-size: 30px;
}
.contents2 p{
    line-height: 50px;        
    font-size: 15px;
    position: relative;
}
.dojang2{
    width: 22px;
    height: 22px;
}


.contents3{}
h2.sub{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: "GapyeongHanseokbong", "Noto Sans KR", sans-serif;
    padding: 104px 0 124px;
}
.card_wrap{
    padding: 0 8rem;
    width: 100%;
    height: calc(100vh - 320px);
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
.card{
    width: 32%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.contents3 .grim1{
    background-image: url(../images/grim/grim1.png);
}
.contents3 .grim2{
    background-image: url(../images/grim/grim2.png);
}
.contents3 .grim3{
    background-image: url(../images/grim/grim3.png);
}
.card .text{
    position: absolute;
    left: 0;
    top: 24%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10% 10%;
    z-index: 10;
    font-family: 'Gapyeong Hanseokbong';
    opacity: 0;
    transition: .5s;
    text-shadow: 1px 1px 10px #fff;
    /* width: 356px;
    height: 260px; */
}
.card .text p{
    padding-top: 15px;
    font-size: 18px;
    /* line-height: 50px; */
}
.card:hover .text{
    opacity: 1;
}
.card::after{
    content: '';
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;    
    transition: .5s;
    mix-blend-mode:screen;
}
.card.grim1::after{
    background-color: var(--main-color-0);
}
.card.grim2::after{
    background-color: var(--main-color-1);
}
.card.grim3::after{
    background-color: var(--main-color-4);
}
.card:hover::after{
    opacity: 1;
}
.section.content_temp{
    height: auto;
    border-bottom: 1px solid #ccc;
}


/* contents4 */
.contents4{
    font-family: 'Gapyeong Hanseokbong';
    height: calc(100vh + 100px);
}
.contents4 h2{
    font-size: 60px;
}
.contents4 p{
    font-size: 25px;
    line-height: 60px;
}
ul.slide{
    width: 500%; height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    display: flex;
}
ul.slide>li{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
ul.slide>li:nth-child(1){
    background-image: url(../images/grim/sn_back.png);
}
ul.slide>li>ul.book{
    position: absolute;
    left: 8rem;
    top:2rem;
    display: flex;
    gap: 20px;
}
ul.slide>li>ul.book>li{
    width: 92px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 12px 24px;
    background: #D7DDE3;
    background-image: url(../images/grim/book_rec.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    font-family: "Solmoe KimDaeGeon";
    font-size: 26px;
    writing-mode: vertical-lr;
    position: relative;
    transition: .5s;
}
ul.slide>li>ul.book>li:before{
    content: '';
    width: 1px;
    height: 2rem;
    top: -2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    transition: .5s;
}
ul.slide>li>ul.book>li:hover{
    transform: translateY(4rem);
}
ul.slide>li>ul.book>li:hover:before{
    height: 6rem;
    top: -6rem;
}
ul.slide>li>ul.painting{
    position: absolute;
    right: 16rem;
    top: 177px;
    width:500px;
    height: 800px;

}
ul.slide>li>ul.painting>li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    transition: .5s;
}
ul.slide>li>ul.painting>li:before{
    content: '';
    width: 615px;
    height: 613px;
    position: absolute;
    left: -57px;
    top: -178px;
    background-image: url(../images/grim/painting_before01.png);
    background-repeat: no-repeat;
}
ul.slide>li>ul.painting>li:after{
    content: '';
    width: 615px;
    height: 43px;
    position: absolute;
    left: -57px;
    bottom: 0;
    background-image: url(../images/grim/painting_after01.png);
    background-repeat: no-repeat;
}
ul.slide>li>ul.painting>li:nth-child(1){
    background-image: url(../images/grim/painting0101.png);
    background-repeat: no-repeat;
}
ul.slide>li>ul.painting>li:nth-child(2){
    background-image: url(../images/grim/painting0102.png);
    background-repeat: no-repeat;
}
ul.slide>li>ul.painting:hover>li{
    height: 100%;
}
.book_contents{
    width: 100%;
    height: 60vh;
    margin-top: 20rem;
    padding: 0 8rem;
    display: flex;
    justify-content: space-between;
}
.book_contents div{
    width: 50%;
    height: 100%;
}
.text_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_wrap p{
    word-wrap: break-word;
}
.img_wrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.img_wrap h2{
    writing-mode: vertical-lr;
}





/* sn */
/* .contents4 .sn{
    background-image: url(../images/grim/sn_back.png);
}
.contents4 .sn h2{
    font-size: 100px;
}
.contents4 .sn .text{
    width: 685px;
    height: 309px;
}
.contents4 .sn .right{
    width: 107px;
    height: 395px;
}
.contents4 .sn .book{
    width: 218px;
    height: 304px;
}
.contents4 .sn .book .book1{}
.contents4 .sn .book .book2{} */

/* cs */
/* .contents4 .cs{
    background-image: url(../images/grim/cs_back.png);
}
.contents4 .cs h2{
    font-size: 100px;
}
.contents4 .cs .text{
    width: 685px;
    height: 309px;
}
.contents4 .cs .left{
    width: 107px;
    height: 395px;
}
.contents4 .cs .book{
    width: 218px;
    height: 342px;
} 
.contents4 .cs .book .book3{}
.contents4 .cs .book .book4{} */

/* jws */
/* .contents4 .jws{
    background-image: url(../images/grim/jws_back.png);
}
.contents4 .jws h2{
    font-size: 100px;
}
.contents4 .jws .text{
    width: 685px;
    height: 309px;
}
.contents4 .jws .right{
    width: 107px;
    height: 395px;
}
.contents4 .jws .book{
    width: 218px;
    height: 333px;
} 
.contents4 .jws .book .book5{}
.contents4 .jws .book .book6{}  */

/* gwj */
/* .contents4 .gwj{
    background-image: url(../images/grim/gwj_back.png);
}
.contents4 .gwj h2{
    font-size: 100px;
}
.contents4 .gwj .text{
    width: 685px;
    height: 309px;
}
.contents4 .gwj .right{
    width: 107px;
    height: 395px;
}
.contents4 .gwj .book{
    width: 218px;
    height: 304px;
} 
.contents4 .gwj .book .book7{}
.contents4 .gwj .book .book8{}   */

/*hr*/
/* .contents4 .hr{
    background-image: url(../images/grim/hr_back.png);
}
.contents4 .hr h2{
    font-size: 100px;
}
.contents4 .hr .text{
    width: 685px;
    height: 309px;
}
.contents4 .hr .right{
    width: 107px;
    height: 395px;
}
.contents4 .hr .book{
    width: 218px;
    height: 304px;
} 
.contents4 .hr .book .book9{}
.contents4 .hr .book .book10{}  */



/* contents5 */
.contents5{
    background-image: url(../images/grim/grim_5.png);
}
.contents5 .txt5{
    font-family: 'Solmoe KimDaeGeonOTF';
    font-size: 35px;
}
.contents5 .dojang4{}

/* footer */
.footer{
    background-image: url(../images/grim/footer.png);
}